body{
    min-height: 800px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.token{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    font-size: 40pt;
}
